  <h1 class= "todotop">Todo #<%= params[:id]%></hi>
    <img class= "backsize2" src="https://www.planwallpaper.com/static/images/518084-background-hd.jpg" height="100%" width="100%">
        <div>    
            <ul>
                <h1 class= "eat2"><%=@todo.description%> <%=@todo.pomodoro_estimate%></h1>
                <br>
                <h4 class= "eat">Desc...</h4>
                <br>
                <h4 class= "eat">Date...</h4>
                <br>
                    <a href="/todo/edit/<%=@todo.id %>" class= "button edit-todo-button">Edit</a>
                    <a href="/todo/destroy/<%= @todo.id %>" class= "button delete-todo-button">Delete</a>
                    <a href="/" class= "simple-link">Go back</a>
            </ul>
        </div>        